<div class="row">
    <div class="large-12 columns">
    	<div id="featured">
    		<% @restaurants.each do |restaurant| %>
    		<%= image_tag("slider/#{restaurant.image}")%>
    		<%end%>
    	</div>
    <hr />
    </div>
</div>